* {
    font-family: 'Montserrat', sans-serif;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.element-container {
    width: 90%;
    margin: 0px 5%;
    max-width: 1300px;
    min-width: 1050px;
    margin-top: 30px;
}

.element-container h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.3em;
}

.launcheElement {
    width: 30%;
    float: left;
    margin: 0 1.5%;
    margin-bottom: 30px;
    border: 1px solid #b1b1b1;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6);
}

.launcheElement-left {
    padding: 5px 20px;
}

.launcheElement-left img {
    width: 45%;
    padding-left: 20%;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.launcheElement-left h1 {
    margin-right: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.launcheElement-left span {
    float: left;
}

.launcheElement-left p {
    float: left;
}

.launcheElement-left button {
    text-align: center;
    margin: 0 34%;
    padding: 7px 14px;
    margin-bottom: 10px;
    vertical-align: bottom;
}

.logoContainer {
    float: left;
    height: 120px;
    width: 30%;
}

.logoContainer img{
    height: 100%;
}

nav {
    background-color: #Fff;
    margin: 0 5%;
    overflow: hidden;
    height: 120px;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

nav ul{
    margin: 0;
    padding: 0;
    float: left;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}
 
/* Create a style for the first level items */
nav > ul > li > a {
    color: #000;
    font-size: 1.4em;
    margin-top: 25px;
    margin-right: 100px;
    height: 120px;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    text-align: center;
}

nav > ul > li > a:hover {
    text-decoration: underline;
}

/* Styling Crew Page */
.crewContainer{
    width: 90%;
    margin: 20px 5%;
}

.crewContainer h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.3em;
}

.crewMember {
    float: left;
    margin-left: 20px;
    width: 46%;
}

.crewMember h1 {
    font-size: 1.4em;
    text-align: center;
}

.crewMember img{
    max-width: 90%;
    margin-left: 5%;
}