html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.app-container {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #f9fafe;
    min-height: 600px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    background-color: #5d81ec;
    color: #a8baf1;
}

.logo{
    margin-left: 30px;;
}

.logo h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 26px;
}

.logo a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    width: 50%;
    margin-left: 20px;
}

.nav-links a{
    min-height: 8vh;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 13px;
    padding: 20px 20px;
    color: #a8baf1;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-links a:hover {
    background-color: #5275e0;
}

.search {
    width: 20%;
}

.search input {
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
    margin-right: 20px;
}

.search input:active {
    border: none;
}

input:focus{
    outline: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226,226,226);
    margin: 5px 25px;
}

@media screen and (max-width: 1024px){
    body {
        overflow: hidden;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .burger {
        display: block;
    }

    .search {
        position: absolute;
        top: 60px;
        width: 100%;
        line-height: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #a8baf1;
        background-color: #5d81ec;
    }
    .search input {
        width: 96%;
        margin: 0 2%;
        align-items: center;
        border-radius: 0px;
        border-radius: 15px;
    }
    .nav-links {
        position: absolute;
        right: 0;
        top: 110px;
        max-width: 1024px;
        width: 100%;
        vertical-align: top;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }

    .nav-links a {
        min-height: 5vh;
        height: 30px;
        display: inline-block;
        background-color: #5d81ec;
        padding-bottom: 0px;
        margin-bottom: 0px;
        line-height: 10px;
        border-top: 1px solid #a8baf1;
        width: 100%;
        color: #fff;
    }

    .nav-links li {
        opacity: 0;
        height: auto;
        width: 100%;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(800px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


main {
    width: 100%;
    background-color:#e5e5ec;
    padding-top: 20px;
    height: 100%;
    min-height: 90vh;
}

.data-container-header{
    width: 96%;
    margin: 2% 2%;
    background: rgb(232,175,28);
    background: linear-gradient(0deg, rgba(232,175,28,1) 0%, rgba(232,175,28,1) 100%, rgba(251,209,100,1) 100%);
    color: #fff;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(80,80,80,0.2);
    -moz-box-shadow: 1px 1px 5px 1px rgba(80,80,80,0.2);
    box-shadow: 1px 1px 5px 1px rgba(80,80,80,0.2);
}

.data-container-header h1 {
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    width: 800;

}

.item-container {
    width: 46%;
    margin: 10px 2%;
    height: 60px;
    float: left;
    padding: 5px 12px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(80,80,80,0.2);
    -moz-box-shadow: 1px 1px 5px 1px rgba(80,80,80,0.2);
    box-shadow: 1px 1px 5px 1px rgba(80,80,80,0.2);
}

.image {
    float: left;
}

.image img{
    height: 50px;
    
}

.describe {
    margin-left: 70px;
    line-height: 50px;
    align-items: center;
}

.describe h1 {
    float: left;
    font-size: 15px;
}

.describe span {
    margin-right: 20px;
    font-size: 12px;
    float: right;
}

.describe button {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    line-height: 30px;
    background-color: #E84A7B;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(80,80,80,0.2);
    -moz-box-shadow: 1px 1px 5px 1px rgba(80,80,80,0.2);
    box-shadow: 1px 1px 5px 1px rgba(80,80,80,0.2);
    color:#fff;
    border: none;
    margin-top: 5px;
    padding: 5px 15px;
}

@media screen and (max-width: 1024px){
    main {
        padding-top: 70px;
    }
}

/* Single Launche Page  */

.single-item-container {
    width: 96%;
    margin: 2% 2%;
    min-height: 69vh;
    background-color: #fff;
    padding-top: 30px;
    height: 100%;
}

.single-item-container .success {
    width: 70%;
    background-color: #2cb643;
    text-align: center;
    font-size: 30px;
    padding: 15px 0;
    margin: 0 15%;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #fff
}

.single-item-container .describe-group {
    min-height: 300px;
    width: 100%;
}

.single-item-container .image {
    width: 25%;
    padding: 20px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.single-item-container .image img {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 200px;
}


.single-item-container .describe {
    width: 50%;
    min-height: 300px;
    margin-left: 0;
    padding: 20px 20px;
    float: left;
}

.single-item-container .describe h1 {
    width: 100%;
    text-align: center; 
    font-size: 24px;
    font-weight: 500;
}

.single-item-container .describe p {
    line-height: 23px;
    text-align: center;
}

.single-item-container .details {
    float: left;
    width: 25%;
    padding: 10px 0;
    min-height: 300px;
    line-height: 40px;
    display: flex;
    justify-content: center;
}

.single-item-container .details ul {
    margin: auto;
    padding-left: 10px;
    border-left: 1px solid #a8baf1;
}

.single-item-container .details ul li span {
    font-weight: bold;
}
.single-item-container .gallery {
    width: auto;
    height: 96%;
    margin: 4% 2%;
    
    border-top: 1px solid #a8baf1;
}

.single-item-container .gallery h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.single-item-container .gallery img {
    margin-right: 1px;
    margin-left: 1px;
}

.cropped {
    width: 19.45%; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
}