html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.app-container {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #f9fafe;
    height: 600px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    background-color: #5d81ec;
    color: #a8baf1;
}

.logo{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 26px;
    margin-left: 30px;;
}

.nav-links {
    display: flex;
    width: 50%;
    margin-left: 20px;
}

.nav-links a{
    min-height: 8vh;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 13px;
    padding: 20px 20px;
    color: #a8baf1;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-links a:hover {
    background-color: #5275e0;
}

.search {
    width: 20%;
}

.search input {
    height: 30px;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
    margin-right: 20px;
}

.search input:active {
    border: none;
}

input:focus{
    outline: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
}

@media screen and (max-width: 1024px){
    .logo {
        width: 100%;
        text-align: center;
    }

    .search {
        position: absolute;
        top: 60px;
        width: 100%;
        line-height: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #a8baf1;
        background-color: #5d81ec;
    }
    .search input {
        width: 96%;
        margin: 0 2%;
        align-items: center;
        border-radius: 0px;
        border-radius: 15px;
    }
    .nav-links {
        position: absolute;
        background-color: red;
        right: 0;
        top: 110px;
        max-width: 1024px;
        width: 100%;
        vertical-align: top;
        align-items: center;
        flex-direction: column;
    }

    .nav-links a {
        min-height: 5vh;
        height: 30px;
        display: inline-block;
        background-color: #5d81ec;
        padding-bottom: 0px;
        margin-bottom: 0px;
        line-height: 10px;
        border-top: 1px solid #a8baf1;
        width: 100%;
        color: #fff;
    }

    .nav-links li {
        height: auto;
        width: 100%;
    }
}